body{
    margin: 0;
    padding: 0;
}
#logo-footer{
    width: 200px;
    height: 60px;
    margin-left: 24px;
}
footer section h4{
    color: #FFFFFF;
}
#lorem{
    width: 400px;
}
#icons{
    width: 80px;
    height: 20px;
    margin-left: 24px;  
    margin-top: 50px; 
}
footer{
    width: 3000px;
    display: flex;
    background-color:
    #1F1F1F;
    color: white;
    height: 400px;
}
section ul li ,h4{
    list-style: none;
    color: #FFFFFF;
    cursor: pointer;
}
section li {
    margin-top: 20px;
}
li:hover{
    color: #cccc;
}
footer section{
    margin-top: 50px;
    margin-left: 120px;
    background-color:
    #1F1F1F;
}
hr{
    background-color: #1F1F1F;
    margin: 0;
}
#copy{
font-size: 12px;
background-color: #1F1F1F;
height: 20px;
color: #FFFFFF;
margin: 0 auto;
text-align: center;
}