nav ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 20px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

#home{
    color:#C92071;
}
#home link{
    color: #C92071;
}
ul li a{
    cursor: pointer;
    color: 
    #474747;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: #C92071;
  }

#header{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
#header #logo{
    height: 50px;
}

#header #car{
    width: 20px;
    height: 20px;
}
#header h2{
    font-size:19px;
    text-decoration: underline  ;
}

#header button{
    width: 130px;
    height: 45px;
    background-color: 
    #C92071;
    border: none;
    border-radius: 5px;
}
#header input{
    height: 60px;
    width: 620px;
    border-radius: 5px;
    background-color: #f3f0f0;
    background-image: url('/src/components/lupa.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 590px;
}