.my-info{
    display: flex;
    margin-left: 200px;
    margin-top: 70px;
    gap: 90px;
    margin-bottom: 100px;
}
.my-info h5{
    border-bottom: 1px solid #ccc;
}
#my-infos{
    display: flex;
    gap: 400px;
}
#edit{
    color: 
    #C92071;
    text-decoration: underline;
    cursor: pointer;
}